body {
    font-family: 'MedievalSharp', cursive;
    background-image: url(../images/gplaypattern.png);
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    font-family: 'Uncial Antiqua', cursive;
}

h3 {
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: dashed 3px black;
    padding: 10px;
    text-align: center;
}
.crystal-button {
    width: 100px;
    padding: 10px;
}